* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: papayawhip;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* Importante especificar el width y height */
    width: 600px;
    height: 500px;
    grid-template-areas: 
    "item-1 item-2 item-2"
    "item-3 item-3 item-4"
    "item-5 item-6 item-7";
}

.item-1, .item-4, .item-5 {
    background: #afed09;
}

.item-2, .item-6 {
    background: #75d00b;
}

.item-3, .item-7 {
    background: #2c9504;
}

.item-1 {
    grid-area: item-1;
}
.item-2 {
    grid-area: item-2;
}
.item-3 {
    grid-area: item-3;
}
.item-4 {
    grid-area: item-4;
}
.item-5 {
    grid-area: item-5;
}
.item-6 {
    grid-area: item-6;
}
.item-7 {
    grid-area: item-7;
}